<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('./partials/bootstrapCss') %>
        <link rel="stylesheet" href="/commonStyles.css">
        <title>Chat</title>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <div class="mt-2 w-100 container d-flex flex-column justify-content-center align-items-center">
            <div id="messages" class="w-100 bg-light p-3"></div>
            <form class="w-100 text-center d-flex justify-content-center mt-3" id="form" action="">
                <input class="form-control w-75" id="input" type="text" name="message" placeholder="type your message..." />
                <button class="btn btn-primary mx-2">send</button>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            const form = document.querySelector('#form');
            const input = document.querySelector('#input');
            const messages = document.querySelector('#messages');
            form.addEventListener('submit',(event)=>{
                event.preventDefault();
                if(input.value){
                    socket.emit('chat message', input.value);
                    input.value = '';
                }
            })
            socket.on('chat message',(msg)=>{
                messages.innerHTML +=`<div class="my-2 p-2 text-white message bg-primary">${msg}</div>`
            })
        </script>
        <%- include('./partials/bootstrapJs') %>
    </body>
</html>
